{% load static from staticfiles %}


<!DOCTYPE html>
<html lang='uk'>
    <head>
        <meta charset="UTF-8"/>
        <!-- <title>Сервіс Обліку Студентів - {% block meta_title %}{% endblock meta_title %}</title> -->
        <!-- <meta name="description"
              value="Система Обліку Студентів Навчального Закладу"/> -->
        <!-- Include styles -->

        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
        <script src="https://cdn.jsdelivr.net/angular.ui-router/1.0.0-alpha0/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/restangular/1.5.2/restangular.min.js"></script>


        <!-- <link rel="stylesheet" href={{ PORTAL_URL }}{% static "css/main.css" %}> -->
        <!-- {% block extra_css %}{% endblock extra_css %} -->

        <!-- /*<style type="text/css">.col-xs-12, .col-xs-4, .col-xs-8 {border:1px solid red;}</style>*/ -->

    </head>
    <body>
      {% block content %}

      {% endblock content %}

        <!-- Javascripts Section -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
        <script src="HTTP://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <!-- <script src="{{ STATIC_URL }}/static/js/main.js"></script> -->
        {% block extra_javascript %}{% endblock extra_javascript %}
    </body>
</html>