{% load static from staticfiles %}


<!DOCTYPE html>
<html lang='uk' ng-app="UserDBApp">
<head>
  <meta charset="UTF-8"/>
  <title>Дані користувачів</title>
  <meta name="description"
        value="База даних користувачів"/>
  <!-- Include styles -->
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <!-- <link rel="stylesheet" href="./css/main.css"> -->
  <link rel="stylesheet" href={{ PORTAL_URL }}{% static "css/main.css" %}>
  <!-- <script source={ PORTAL_URL }}{% static "javascript/main.js" %}></script> -->
  <script>
  // Модуль

var UserDBApp = angular.module("UserDBApp", [])

.constant("baseUrl", "http://127.0.0.1:8000/api/v1/user/")
.constant("suffixUrl", "?format=json")

// console.log("presponse0")
// Контроллер

UserDBApp.controller("UserDBAppCtrl", function ($scope, $http, baseUrl, suffixUrl) {
  console.log("presponse4")
  var promise =  $http.get(baseUrl + suffixUrl);
  promise.then(fulfilled, rejected)
  console.log("presponse1")
  function fulfilled(response) {
    console.log("Status: " + response.status);
    console.log("Type: " + response.headers("content-type"));
    console.log("Length: " + response.headers("content-length"));

    var model = {users:[]};
    model.users = response.data.objects;
    console.log("presponse2")
    $scope.data = model;

    }

  function rejected(error) {
    console.log("presponse3")
    console.error(error.status);
    console.error(error.statusText);

    }


  // Обработчик нажатия по кнопке
  $scope.addNewUser = function () {
    if ($scope.LAST_NAME && $scope.FIRST_NAME && $scope.DATE_OF_BIRTH && $scope.E_MAIL){
        var user = {}
          user = {
          last_name: $scope.LAST_NAME,
          first_name: $scope.FIRST_NAME,
          middle_name: $scope.SECOND_NAME,
          birthday: $scope.DATE_OF_BIRTH,
          e_mail: $scope.E_MAIL
      };
      console.log("presponse20")
      // console.log(JSON.stringify(user))
      $http.post(baseUrl + suffixUrl, user).success(function (user){
        console.log(JSON.stringify(user))

        $scope.data.users.push(user);

        $scope.LAST_NAME = ""
        $scope.FIRST_NAME = ""
        $scope.SECOND_NAME = ""
        $scope.DATE_OF_BIRTH = ""
        $scope.E_MAIL = ""

      });

      // $scope.data.users.push(user);

      // $scope.LAST_NAME = ""
      // $scope.FIRST_NAME = ""
      // $scope.SECOND_NAME = ""
      // $scope.DATE_OF_BIRTH = ""
      // $scope.E_MAIL = ""
        
        }}  

        // $scope.data.users.push(USER);

        // $scope.USER.LAST_NAME = ""
        // $scope.USER.FIRST_NAME = ""
        // $scope.USER.SECOND_NAME = ""
        // $scope.USER.DATE_OF_BIRTH = ""
        // $scope.USER.E_MAIL = ""
        
        // }};

});

</script>

</head>
    <body ng-controller="UserDBAppCtrl">
    {% csrf_token %}
        <!-- Start Container -->
        <div class='container'>
            <!-- Start Header -->
            <!-- <header> -->   
            <div class='row' id='header'>
                <!-- Logo -->
                <div class="col-sm-4 col-md-3">
                  <h3>Дані користувачів</h3>
                  <br/>
                </div>

                <div class="col-sm-8  col-md-9">
                    <!-- <div class="row "> -->
                    <br/>
                        <!-- <p>Завантажити з файла</p> -->
                    <!-- </div> -->
                    <!-- <div class="row"> -->
                    
                      <form class="">
                        <span class="btn btn-file"><input type="file" /></span>
                        <!-- Button -->
                          <button id="signup" name="signup" class="btn btn-primary" href='#'>Завантажити</button>
                          <a class='btn' href={% url 'index_user' %}>Скасувати</a>
                      </form>
                    <!-- </div> -->
                </div>

            <!-- </header> -->
            <!-- End Header -->
            <!-- Start Main Page Content -->
            <br/>
            <div class='row' id='content-columns'>
                <div class="col-xs-12" id="content-column">
<!--                     <div class='alert alert-warning'>
                        <p>Зміни скасовано.</p>
                    </div> -->

                    <table class='table table-hover table-striped'>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th><a hred=''>Прізвище &uarr;</a></th>
                                <th><a href='#'>Ім'я</a></th>
                                <th><a href='#'>По-батькові</a></th>
                                <th><a href='#'>Дата народження</a></th>
                                <th><a href='#'>Ел. адреса</a></th>
                                <th class="text-center">Дія</th>

                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr>
                              <form name="AddUserForm">
                                <td>#</td>
                                <td><input id="lname" name="lname" type="text" placeholder="прізвище" class="form-control input-md" required ng-model="LAST_NAME" ng-pattern="/^[a-zA-Z0-9]*$/" ng-trim="false"></td>
                                <td><input id="fname" name="fname" type="text" placeholder="ім'я" class="form-control input-md" required ng-model="FIRST_NAME" ng-pattern="/^[a-zA-Z0-9]*$/" ng-trim="false"></td>
                                <td><input id="sname" name="sname" type="text" placeholder="по-батькові" class="form-control input-md" ng-model="SECOND_NAME" ng-pattern="/^[a-zA-Z0-9]*$/" ng-trim="false"></td>
                                <td><input id="birth" name="birth" type='text' class="form-control date' input-md" placeholder="напр. 1984-06-17" required ng-model="DATE_OF_BIRTH" ng-pattern="/^([0-9]{4})-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/"></td>
                                <td><input id="e_mail" name="e_mail" type="text" placeholder="електронна@пошта.тут" class="form-control input-md" required ng-model="E_MAIL" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-trim="false"></td>
                                <td class="text-center"><button type="Submit" title='Зберегти' href='#' class='btn btn-success' ng-click="addNewUser(AddUserForm)">+</button></td>
                              </form>
                            </tr>
                            <tr ng-repeat="user in data.users">
                                {% verbatim %}
                                <td>{{ user.id }}</td>
                                <td><a title='Редагувати' href='#'>{{ user.last_name }}</a></td>
                                <td><a title='Редагувати' href='#'>{{ user.first_name }}</a></td>
                                <td>{{ user.middle_name }}</td>
                                <td>{{ user.birthday }}</td>
                                <td>{{ user.e_mail }}</td>
                                <td class="text-center"><a title='Видалити' href='#'class='btn btn-danger'>Х</a></td>
                                {% endverbatim %}
                            </tr>

                        </tbody>
                        
                    </table>

                    <nav>
                      <a class='btn btn-default' href='#'>Показати ще</a>
                    </nav>
                    <br/>

                </div>
            </div>
            <!-- End Main Page Content -->

            <!-- Start Footer -->
            <div class="row" id="footer">
                <div class="col-xs-12">
                    <p>&copy; 2016 База даних користувачів</p>
                </div>
            </div>
            <!-- End Footer -->

        </div>
        <!-- End Container -->

        <!-- Javascripts Section -->
         <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    </body>
</html>